
@model IEnumerable<BIZ.Message>


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Messages</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { messageID=item.MessageID }) 
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Create New", "Create")
    </div>
</div>